.collection-item {
  display: flex;
  justify-content: space-between;
}

.material-icons {
  transition: all 0.2s ease-out;
  cursor: pointer;
  margin-left: 5px;
}

.material-icons:hover {
  color: red;
}

.vote-box {
  display: flex;
  align-items: center;
}
